{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
    <section>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <script>
              alert("{{ message }}")
          </script>
          {% endfor %}
      </ul>
      {% endif %}

      {% if user.is_authenticated %}
      <div>
        <h1>Logged as {{ user.username }}</h1>
        <a id='logout' class="btn btn-primary" href="/user/logout/">Logout</a>
        <br>
        <br>
      </div>
      {% if user.profile.nama != None %}
      <div>
        <h3>{{user.profile.nama}}</h3>
        <p>Birth Date: {{user.profile.tgl}}</p>
        <P>E-mail: {{ user.email }}</P>
        
        <img src="{{ user.profile.foto }}">

      </div>
      {% else %}
        <p>Your Profile is still empty.</p>
        <p>Contact Administrator to complete your profile</p>
      {% endif %}
      {% else %}
        <h1>Do you have an account?</h1>
        <a id='login' class="btn btn-primary" href="/user/login/">Log in</a>
        <a id='signup' class="btn btn-primary" href="/user/signup/">Sign up</a>
      {% endif %}
    </section>
</body>
{% endblock %}

{% block script %}
{% endblock %}