{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
    <section>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        </ul>
        {% endif %}


        {% if user.is_authenticated %}
            <h1>Logged as {{ user.username }}</h1>
            <a class="btn btn-primary" href="/user/logout/">Logout</a>
        {% else %}
        <h1>Sign up</h1>
        <form action="/user/signup/" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username :</td>
                <td><input type="text" id='username' name="username"><br></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="text" id="password" name="password"><br></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id='signup' type='submit' value='Signup' class="btn btn-primary" href="/user/signup/">
                    <a id='login' class="btn btn-outline-primary" href="/user/login/">Login</a><br>
                    <a id='google_oauth' class="btn btn-link" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
                </td>
            </tr>
        </table>
        </form>
        {% endif %}
    </section>
</body>
{% endblock %}

{% block script %}
{% endblock %}